/*
** Custom Classes
*/

.mt-n-5 {
  margin-top: -5px !important;
}

@media (min-width: 992px) {
  .map-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding-right: 0 !important;
    flex: 0 0 44.666667%;
    max-width: 44.666667%;
  }
}

.shortcode-buttons {
  .btn {
    margin-bottom: 5px;
  }
}

.z-1001 {
  z-index: 1001;
}

.z-1003 {
  z-index: 1003;
}

.z-3 {
  z-index: 3;
}

