.ls {

  .color-icon.bg-icon {
    background-color: #ececec;
  }

  .pricing-plan [class*='btn-outline-'] {
    background-color: $lightColor;
    &:hover {
      background-color: $colorMain;
    }
  }

  .shortcode-video-button a.photoswipe-link:hover i {
    color: $darkgreyColor;
  }

}