///////////////////
//theme variables//
///////////////////

//Colors

//Monochrome colors

//text color in light section (.ls)
$fontColor: #777777 !default;
//background color for light section (.ls) and font color in dark section (.ds)
$lightColor: #ffffff;
//text color for headings in light sectipost-side-itemon (.ls) and background color for dark section (.ds)
$darkgreyColor: #1d1d1d !default;
//background color for light grey background light section (grey - .ls.ms)
$greyColor: #f8f8f8 !default;
//background color for dark muted section (.ds.ms)
$darkColor: #252525 !default;
//border colors for elements in light section (.ls) (and .bordered elements)
$borderColor: #e8e8e8;
//rgba variant for bordered elements
$borderColorRGBA: rgba(#1d1d1d, 0.2);
//background color for hero background elements in light section (.hero-bg)
$backgroundColor: #f5f5f5;

$boxShadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);

//section specific variables

// dark section - .ds

//font color in dark section (.ds)
$darkFontColor: #9d9d9d;
//border colors in dark section (.ds)
$darkBorderColor: rgba(#fff, 0.2);
//background color for elements with background (.hero-bg etc.)
$darkBackgroundColor: rgba(#fff, 0.05);

//color section - .cs

//border colors in color section (.cs)
$colorBorderColor: rgba(#fff, 0.15);
$colorBackgroundColor: rgba(#fff, 0.1);

//dark grey background dark blue section - (.ds.bs)
$darkBlueColor: #27205f;
$darkBlueColorLighter: #2f3e47;

//Accent Color schemes

//this variables is used in development process
//in production color variables are overridden in 'color_schemes' folder

//theme accent colors
$styleNumber: '' !default;
$colorMain: #ff6162 !default;
$colorMain2: #7470fc !default;
$colorMain3: #896efd !default;
$colorMain4: #4f74fb !default;

//////bootstrap colors
//orange - warning
$colorPrimary: $colorMain !default;
//green
$colorSuccess: #75cb61 !default;
//blue
$colorInfo: #7470fc !default;
//orange
$colorWarning: #f5cf37 !default;
//red
$colorDanger: #ff6162 !default;

//universal muted background color
$universalBackgroundColor: rgba(150, 150, 150, 0.05) !default;
$universalBorderColor: rgba(200, 200, 200, 0.35) !default;

$gradientBackground: linear-gradient(to right, rgba($colorMain3, 1) 0%, rgba($colorMain4, 1) 100%);

//Layout
//////side header
$sideHeaderWidth: 310px;
//inner side header padding
$sideHeaderLeftRightPadding: 30px;
//header transition
$headerTransition: 0.5s ease-in-out;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//_horizontal spacers
//reverse for smaller gutters has priority
$columns-horizontal-gutters-sum: 130 100 90 80 70 60 50 45 40 30 25 20 15 10 5 2 1 0;
$container-horizontal-padding: 0 1 2 5 10 20 30 45 60;

//_vertical spacers - vertical margins and padding for sections and columns
$section-vertical-padding: 0 1 2 3 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 165 170 180 195 235 240;
$columns-vertical-margins: 0 1 2 5 10 15 20 25 30 35 40 45 50 55 60;

//top and bottom borders height for sections with borders - 1px by default
$section-borders-height: 2 3 5;

//font size helpers - fs-xx
$font-size-helpers: 12 14 16 18 20 24 28 30 32 36 37 40 47 50 56 60;

$dividers-height: -30 -10 -5 0 3 5 10 11 15 20 25 30 33 35 40 43 45 50 53 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 145 150 170;

@mixin small-text() {
  font-size: 12px;
  line-height: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin cover() {
  content: '';
  position: absolute;
  display: block;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin widget-title() {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 0.7;
}

@mixin widget-a-before() {
  font-family: 'FontAwesome';
  content: '\f111';
  font-size: 5px;
  line-height: 1;
  color: $fontColor;
  position: relative;
  top: -4px;
  padding-right: 11px;
}

.gradient-background .widget_search .widget-title {
  margin-bottom: 21px;
}