//color schemes
//1
$styleNumber: '';
$colorMain: #ff6162;
$colorMain2: #7470fc;
$colorMain3: #896efd;
$colorMain4: #4f74fb;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;