//color schemes
//3
$styleNumber: '3';
$colorMain: #e9c20d;
$colorMain2: #4f74fb;
$colorMain3: #7470fc;
$colorMain4: #ff6162;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;