/*
** Blog
*/

.blog_slider {
  margin-bottom: 60px;
  @media (min-width: 992px) {
    .intro_layers_wrapper {
      left: 130px;
      right: 130px;
    }
  }
  @media(max-width: 767px) {
    display: none;
  }
}

.blog-featured-posts {
  .post {
    height: 100%;
  }
}

.blog .post.vertical-item:not(.post_format-post-format-gallery):not(.post_format-post-format-video) .item-media {
  display: inline-block;
  text-align: center;
  margin-bottom: -5px;
}

//entry title on singular will be SHOWN - title will be HIDDEN in title section
.entry-title,
.entry-title:last-child {
  text-transform: none;
  margin: 0 0 31px;
  line-height: 1.35;
  font-size: 30px;
   @media (max-width: 991px) {
    font-size: 20px;
    margin: 0 0 20px;
  }
}

//for blog greed and featured posts
h6.entry-title,
h6.entry-title:last-child {
  font-size: 20px;
  margin-bottom: 13px;
}

//for single post
.item-media + .item-content {
  h1.entry-title {
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .post.search-item + .post.search-item {
    margin-top: 50px;
  }
}

.post {
  position: relative;
  //sticky
  & > .fa {
    position: absolute;
    right: 9px;
    top: 7px;
    color: $lightColor;
    transform: rotate(45deg);
    z-index: 2;
    &:before {
      position: relative;
      z-index: 3;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: -14px;
      left: -35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 40px;
      border-color: transparent transparent $colorMain transparent;
    }
  }

  & + & {
    margin-top: 60px;
    @media (min-width: 1200px) {
      margin-top: 100px;
    }
  }

  //single post
  h1.entry-title {
    & + .entry-meta {
      margin:-1em 0 2em;
    }
  }

  //cover image post
  &.cover-image {
    padding: 40px;
    height: auto;
    .post-thumbnail {
      display: none;
    }
  }
  &.has-post-thumbnail .cat-links {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    margin-top: 0;
    @media (min-width: 992px) {
      top: 20px;
      left: 20px;
    }
  }
  .post-read-more {
    display: inline-block;
    margin-top: 25px;
    @media (min-width: 992px) {
      margin-top: 40px;
    }
  }
}

.post-thumbnail {
  text-align: center;
  .owl-dots {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
  }
  & + .entry-content {
    margin-top: 1.5em;
  }
}

//password protected
.post-password-form {
  input[type="password"] {
    margin-top: 0.5em;
    width: auto;
  }
  input[type="submit"] {
    position: relative;
    top: -2px;
  }
}

.entry-footer,
.entry-meta {
  margin-bottom: 8px;
  line-height: 1;
  clear: both;
  @media (min-width: 1200px) {
    margin-bottom: 31px;
  }
  .inline-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    > * {
      margin-bottom: 10px;
    }
  }
  .post-author {
    display: flex;
    align-items: center;
    margin-right: 10px;
    img {
      max-width: 50px;
    }
    .author-name {
        margin: 0 0 0 20px;
      span {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: $fontColor;
      }
    }
  }
  i {
    font-size: 14px;
    margin-right: 3px;
    position: relative;
    top: 1px;
  }
}

.entry-footer {
  margin-top: 40px;
  margin-bottom: 50px;
  .fa {
    margin-right: 10px;
  }
}

//cleaning floats
.entry-content,
.entry-footer,
.entry-header {
  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.cat-links {
  a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    padding: 7px 10px;
    margin: 0 7px 7px 0;
    color: $lightColor;
    background-color: $colorMain;
    border: 1px solid $colorMain;
    &:hover {
      background-color: $colorMain2;
      border-color: $colorMain2;
    }
  }
}

//edit link
.entry-footer,
.entry-header {
  .edit-link {
    float: right;
    a:before {
      font-family: 'FontAwesome';
      content: '\f040';
      padding-right: 0.4em;
    }
  }
  //for woo
  .entry-title + .edit-link {
    position: absolute;
    right: 15px;
    top: 0.5em;
  }
}

.post-adds {
  display: flex;
  background-color: $backgroundColor;
  line-height: 1;
  align-items: center;
  margin-bottom: 30px;
  i {
    width: 1em;
  }
  a {
    display: inline-block;
    margin: 0;
  }
  .dropdown-menu {
    padding: 0;
    border: none;
  }
  .share_buttons {
    display: flex;
  }
  .share_button {
    background-color: $colorMain;
    color: $lightColor;
    line-height: 60px;
    padding: 0 21px;
  }
  .like_button {
    color: $colorMain;
    line-height: 60px;
    padding: 0 21px;
    border-right: 1px solid $borderColorRGBA;
  }
  .votes_count {
    padding: 0 21px;
  }
  .views-count {
    margin-left: auto;
    padding: 22px 30px;
    background-color: $colorMain;
    color: $lightColor;
  }
  @media(max-width: 576px) {
    & {
      flex-wrap: wrap;
    }
    .share_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .like_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .views-count {
      padding: 10px 15px;
      width: 100%;
    }
  }
}

/*gallery post*/
.post {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;

    .gallery-item {
      width: 50%;
      padding: 0 7px;

      figcaption {
        padding: 15px 10px;
        word-break: break-all;
      }
    }

    @media (min-width: 992px) {
      &.gallery-columns-1 .gallery-item {
        width: 100%;
      }
      &.gallery-columns-2 .gallery-item {
        width: 50%;
      }

      &.gallery-columns-3 .gallery-item {
        width: 33.33%;
      }

      &.gallery-columns-4 .gallery-item {
        width: 25%;
      }

      &.gallery-columns-5 .gallery-item {
        width: 20%;
      }

      &.gallery-columns-6 .gallery-item {
        width: 16.66%;
      }

      &.gallery-columns-7 .gallery-item {
        width: 14.28%;
      }

      &.gallery-columns-8 .gallery-item {
        width: 12.5%;
      }

      &.gallery-columns-9 .gallery-item {
        width: 11.11%;
      }
    }
  }
  @media (max-width: 767px) {
    .cat-links {
      display: block;
      margin-bottom: 8px;
    }
  }
}

.gallery-item .gallery-icon img {
  width: 100%;
}

/*post author*/
.author-bio {
  a.fa {
    margin-bottom: 0;
  }
}

/*comments*/
.comments-title {
  margin-bottom: 17px;
}

.comments-area {
  margin-top: 57px;
  .no-comments {
    padding-top: 30px;
  }
  @media (min-width: 992px) {
    margin-top: 100px;
  }
  .comment-list {
    margin-top: 35px;
    list-style: none;
    padding: 0;
    margin-bottom: -67px;
    @media (min-width: 768px) {
      margin-top: 95px;
    }
    ol.children {
      list-style: none;
      padding-left: 30px;
      margin-left: 20px;
      border-left: 1px solid $borderColor;
      @media (min-width: 575px) {
        padding-left: 60px;
        margin-left: 40px;
      }
    }
    .trackback .comment-body,
    .pingback .comment-body {
      padding-left: 0;
      margin-left: 0;
      a.comment-edit-link {
        display: block;
        margin-top: 10px;
        color: $darkgreyColor;
        &:before {
          content: "\e911";
          font-family: 'icomoon';
          font-size: 14px;
          margin-right: 9px;
          position: relative;
        }
      }
    }
  }
}

.comment-body {
  position: relative;
  margin-left: 100px;
  margin-bottom: 57px;
  padding-left: 30px;
  ol,
  ol ol {
    padding-left: 20px;
  }
  .comment-metadata {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    > span {
      i {
        font-size: 14px;
        margin-right: 9px;
        position: relative;
      }
      &:not(:last-child) {
        margin-right: 19px;
        &:after {
          content: '|';
          position: relative;
          padding-left: 13px;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
  @media (max-width: 575px) {
    .comment-metadata {
      .reply:after {
        display: none;
      }
      .time {
        width: 100%;
      }
    }
  }
}

.comment-meta {
  margin-bottom: 6px;
  .comment-author {
    margin-bottom: 5px;
  }
  h6 {
    margin: 0;
  }
  //avatar
  img {
    position: absolute;
    left: -100px;
    top: 5px;
    margin: 0;
    border-radius: 50%;
  }
  b {
    font-weight: inherit;
  }
  .comment-data {
    display: flex;
    align-items: center;

  }
}

@media(max-width: 575px) {
  .comment-body {
    margin-left: 50px;
    padding-right: 0;
  }
  .comment-meta img {
    max-width: 60px;
    left: -50px;
  }
}


.no-comments,
.comment-awaiting-moderation {
  opacity: 0.7;
}

.comments-pagination {
  margin: 2em 0 3em;
}

/*comment respond form*/
.comments-area > .comment-respond {
  .comment-reply-title {
    margin: -6px 0 19px;
    @media (min-width: 992px) {
      margin: -6px 0 42px;
    }
  }
}

ol.comment-list li .comment-form {
  margin-bottom: 30px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  p {
    margin-bottom: 10px;
    width: 100%;
    &.comment-form-cookies-consent {
      margin-bottom: -5px;
    }
    &.comment-form-cookies-consent {
      input {
        display: none;
      }
      label {
        margin-top: 10px;
        display: block !important;
      }
    }
  }
  textarea,
  input {
    width: 100%;
  }
  //remember me checkbox appears with our custom designed checkbox, so hiding it
  input[type=checkbox] {
    margin: 0;
    visibility: hidden;
  }
  @media(min-width: 992px) {
    .comment-form-author,
    .comment-form-email {
      width: 50%;
    }
    .comment-form-author {
      padding-right: 10px;
    }
  }
}

/* post formats */

.format-video {
  .post-thumbnail + .entry-content {
    margin-top: 0;
  }
}

.format-status.s-overlay:before {
    opacity: 0.7;
}

.single-post .format-quote,
.single-post .format-status {
    padding: 0 !important;
}

.format-quote,
.format-status {
  &:not(.cover-image):not(.item-post):not(.media) {
    padding: 60px;
  }
}

.format-status:not(.content-padding),
.format-quote:not(.content-padding) {
  &.s-overlay:before {
    opacity: 0.85;
  }
  @media (min-width: 768px) {
    &:after {
      content: "";
      -webkit-mask: url("../img/quote-mark.png");
      background-color: $colorMain;
      width: 52px;
      height: 41px;
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }
  > img {
    display: none;
  }
  .entry-meta {
    margin-bottom: 50px;
    a {
      color: $lightColor;
    }
    .inline-meta {
      a {
        color: $darkgreyColor;
      }
    }
  }
  .tagcloud a {
    color: $lightColor;
  }
  .item-content.entry-content {
    margin-bottom: -10px;
    @media (min-width: 1200px) {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      .entry-content {
        margin-left: 40px;
        .entry-title {
          margin-bottom: 29px;
        }
      }
    }
  }
  .item-content.entry-content {
    .author-name {
      margin: -11px 0 1px;
      @media (min-width: 768px) {
        margin: 35px 0 5px;
      }
    }
  }
}

.post-side-item.no-content-padding [class*='col-xl-'] .item-content {
    padding-top: 25px;
  @media (min-width: 1200px) {
    padding-top: 0;
    padding-left: 50px;
  }
}

.format-chat {
  .entry-content {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid $borderColor;
    @media (min-width: 992px) {
      margin-top: 40px;
    }
    strong {
      color: $darkgreyColor;
    }
    p {
      padding: 9px 20px;
      margin-bottom: 0;
      border-bottom: 1px solid $borderColor;

      &:last-child {
        border-bottom: 0;
      }
      &:nth-child(2n) {
        background-color: $greyColor;
        strong {
          color: $colorMain;
        }
      }
    }
  }
}

.masonry-layout.post-grid {
  .vertical-item .item-media + .item-content {
    padding-top: 25px;
  }

  .post .post-read-more {
    margin-top: 25px;
  }

  .entry-meta {
    margin-bottom: 8px;
  }

  .post.cover-image {
    padding: 29px 15px;
  }
  .format-status, .format-quote {
    display: block;
    text-align: center;
    &:after {
      display: none;
    }
    .item-content {
      display: block;
      .entry-content {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }
}

.post.event-post {
  .entry-meta {
    margin-bottom: 20px;
  }
  .entry-title {
    margin: 7px 0 18px;
  }
  &.content-padding .item-content {
    padding: 21px 30px 30px;
    @media (min-width: 768px) {
      padding: 31px 40px 40px;
    }
  }
  @media (max-width: 991px) {
  .entry-meta .byline span:after {
      margin: 0 8px 0 8px;  
    }   
  }
}

.post.event-post + .post.event-post {
    margin-top: 40px;
}

.layout-item-extended {
  .item-content {
    .entry-meta {
      margin-top: 3px;
      margin-bottom: 10px;
    }
    .item-title {
      line-height: 1.5;
      margin-bottom: 15px;
    }
  }
}

.fw-event + .fw-event {
  margin-top: 50px;
}

.post.sticky {
  border: 1px solid $colorMain;
  box-shadow: none;
}

.blog-post,
.single-post {
  @media (min-width: 1200px) {
    .col-xl-8 {
      flex: 0 0 70.9%;
      max-width: 70.9%;
    }
    .col-xl-4 {
      flex: 0 0 29.1%;
      max-width: 29.1%;
    }
  }
}