.pricing-plan {
  text-align: center;
  transition: .5s all;
  padding: 38px 30px 40px;
  @media (max-width: 991px) {
    box-shadow: $boxShadow;
  }
  @media (min-width: 992px) {
    padding: 92px 50px 100px;
  }
  .plan-name {
    text-transform: uppercase;
    font-weight: 400;
  }
  .price-wrap {
    margin-top: 20px;
    @media (min-width: 992px) {
      margin-top: 27px;
    }
    &[class*='bg-'] {
      padding: 15px 30px 18px;
      margin-top: 50px;
      margin-bottom: 0;
    }
    h6 {
      margin: 0;
      line-height: inherit;
    }
    .plan-sign {
      display: inline-block;
      font-size: 18px;
      margin: 0 12px 0 0;
      position: relative;
      top: -10px;
    }
    .plan-rate {
      margin-top: -8px;
    }
  }
  [class*='bg-'] {
    padding: 10px 30px 30px;
    margin-left: -41px;
    margin-right: -41px;
  }
  .plan-name {
    &[class*='bg-'] {
      padding-top: 30px;
      margin-top: -40px;
    }
    h5 {
      line-height: 1;
    }
  }

  @media(min-width: 1200px) {
    [class*='bg-'] {
      margin-left: -61px;
      margin-right: -61px;
    }
    .plan-name[class*='bg-'] {
      margin-top: -78px;
    }
  }
  .plan-features {
    margin: 27px 0 0;
    @media (min-width: 1200px) {
      margin-top: 29px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        padding: 5px 0;
        position: relative;
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        &.enabled:before,
        &.disabled:before {
          font-family: 'FontAwesome';
          content: "\f00c";
          font-size: 14px;
          color: $colorMain;
          position: relative;
          padding-right: 13px;
          top: 1px;
        }
        &.disabled:before {
          font-family: 'FontAwesome';
          content: "\f00d";
        }
      }
    }
  }

  &.plan-featured {
    position: relative;
    z-index: 5;
  }
  &.cs {
    .plan-features ul li:before {
      color: $lightColor;
    }
  }
}

.pricing-plan[class*='bg-'] {
  .btn-maincolor:hover {
    color: #fff;
  }
}

.plan-badge {
  color: $lightColor;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 30px;
  padding: 26px 2px;
  background: $colorMain;
  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-left: 20px solid $colorMain;
    border-right: 20px solid $colorMain;
    border-bottom: 15px solid transparent;
  }
  span {
    display: block;
    position: relative;
    transform: rotate(270deg);
  }
}