/*
** Special Heading
*/
.special-heading {
  word-wrap: break-word;
  line-height: 1.34;
  &.subheading {
    font-size: 14px;
    color: $colorMain;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: -2px;
    @media (min-width: 768px) {
      + .special-heading {
        margin-top: 14px;
      }
    }
  }
  &.text-lowercase {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.1;
  }
  &.big,
  &.text-uppercase {
    font-weight: 900;
    line-height: 0.8;
  }
  &.big {
    margin-top: 0.65em;
    margin-bottom: 0.65em;
  }
  @media (max-width: 1600px) {
    &.big,
    &.text-lowercase,
    &.text-uppercase {
      line-height: 1;
    }
  }

  & + h3 {
    margin-top: -0.4em;
  }

  &.text-center + p {
    text-align: center;
  }

  h3.small & {
    line-height: 1;
  }
}

h4.special-heading {
  margin-top: -1px;
}
p.special-heading {
  line-height: 24px;
  margin-bottom: 3px;
}

h3.small {
  margin-bottom: 36px;
}

.gradient-background .special-heading.subheading {
  color: $lightColor;
}