
/*
** Main Menu styles
*/
.nav-wrap {
  display: flex;
  //vertical align all nav content (logo, nav, header buttons etc)
  align-items: center;
  justify-content: space-between;
  //header includes that goes right after menu and before top-includes
  & > .top-nav + *:not(.top-includes) {
    flex-grow: 100;
    padding-left: 20px;
    padding-right: 30px;
  }
}

/* Desktop menu - (min 1200px) styles */
@media(min-width: 1200px) {
  //nav .top-nav - wrapper for ul.nav.sf-menu/title3.html/title3.html
  .top-nav {
    position: relative;
    flex-grow: 10;
    flex-wrap: nowrap;

    display: flex;
    align-items: center;

    .justify-nav-end & {
      justify-content: flex-end;
    }

    .justify-nav-center & {
      justify-content: center;
    }
  }

  /* menu layout */
  //override .nav - display flex - for correct menuHideExtraElements
  .sf-menu {
    display: block;
  }
  .sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sf-menu li {
    position: relative;
  }
  .sf-menu li > ul {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 99;
  }

  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    display: block;
  }

  .sf-menu a {
    display: block;
    position: relative;
  }

  /* menu skin */

  .sf-menu a {
    padding: 12px 0;
    text-decoration: none;
    // /* IE7 */
    zoom: 1;
    transition-property: color, background-color, border-color, padding-top, padding-bottom;
  }

  .sf-menu li {
    // /* no need for Supersubs plugin */
    white-space: nowrap;
    // /* ...unless you support IE7 (let it wrap) */
    *white-space: normal;
  }

  //first level
  .sf-menu > li {
    //inline-block for easy change menu items alignment to right, center or left
    display: inline-block;
    position: relative;
  }

  //.nav is added to override .nav-narrow
  .sf-menu.nav > li:first-child > a {
    margin-left: 0;
  }
  .sf-menu.nav > li:last-child > a {
    margin-right: 0;
  }

  .sf-menu > li > a {
    //uncomment following if you need border on active and hovered item
    font-size: 16px;
    line-height: 14px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 22px 0 21px;
    transition-duration: 0.15s;
    @media (min-width: 1200px) and (max-width: 1399px) {
      margin: 0 15px;

    }
  }

  .line-header {
    .sf-menu > li > a:before {
      content: '';
      background-color: $colorMain;
      position: absolute;
      height: 3px;
      left: 0;
      right: 0;
      bottom: 35px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
      width: 0;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      //uncomment following if you need border on active and hovered item
      &:before {
        width: 100%;
      }
    }
  }

  .nav-narrow {
    .sf-menu > li {
      padding: 0;
    }
    .sf-menu > li > a {
      padding-top: 42px;
      padding-bottom: 42px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .sf-menu > li.active > a {
      &:before {
        content: '';
        position: absolute;
        height: 2px;
        left: -14px;
        right: -14px;
        top: 0;
        z-index: 1;
        background-color: $colorMain;
      }
    }
  }

  .header-small {
    .sf-menu > li > a {
      padding: 33px 0;
    }
    &.line-header .sf-menu > li > a:before {
      bottom: 23px;
    }
  }

  .nav-bordered {
    .sf-menu > li + li:before {
      content: '';
      width: 1px;
      position: absolute;
      left: -2px;
      top: 0;
      bottom: 0;
      background-color: $colorBorderColor;
    }
  }
  .cs {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $darkgreyColor;
    }
  }
  .ds {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $lightColor;
      opacity: 1;
    }
    .sf-menu > li.active > a {
      font-weight: 500;
    }
  }
  .ls {
    .sf-menu > li > a {
      color: $darkgreyColor;
    }
    .sf-menu > li.active > a {
      font-weight: 500;
    }
    .sf-menu > li + li:before {
      background-color: $borderColor;
    }
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;
  }

  /* second and next levels */
  .sf-menu > li .mega-menu,
  .sf-menu li > ul {
    //for animation
    margin-top: 0;
    text-align: left;
    list-style: none;
    padding: 38px 50px;
    background-color: $lightColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    min-width: 18.3em /* allow long menu items to determine submenu width */
  }
  .sf-menu > li .mega-menu {
    padding-left: 0;
    padding-right: 0;
  }

  .sf-menu.nav ul a {
    color: $fontColor;
    width: 100%;
    line-height: 1;
  }
  .sf-menu .mega-menu ul {
    box-shadow: none;
    padding: 0;
    background: transparent;
    li.mega-menu-col:last-child  {
      a {
        border-bottom: 0;
      }
      li:last-child a {
        border-bottom: 1px solid $darkBorderColor;
      }
    }
  }
  .sf-menu .mega-menu ul a {
    padding-left: 0;
    padding-right: 0;
  }
  .sf-menu ul > li + li:before {
  }
  .sf-menu ul a:hover,
  .sf-menu ul li.active > a {
    color: $colorMain;
  }
  /* third level */
  .sf-menu ul ul {
    margin-top: -5px !important;
    //making third level on exact height as second
    top: 0;
    margin-left: 53px;
  }

  .sf-arrows ul .sf-with-ul:after {
    content: '\f107';
    font-family: 'FontAwesome';
    padding-left: 7px;
    line-height: 14px;
  }
}

.sf-menu i[class] {
  margin-right: 7px;
  font-size: 1.1em;
}

/* hidden menu items */
@media(min-width: 1200px) {
  .sf-menu .sf-xl-hidden {
    display: none !important;
  }
}

@media(max-width: 1199px) {
  .sf-more-li {
    display: none;
  }
}

.nav-wrap a.btn {
  flex-grow: 0 !important;
}

@media (min-width: 1200px) {
  .page_header.affix {
    .sf-menu > li .mega-menu, .sf-menu li > ul {
      margin-top: 0 !important;
    }
  }
}

.page_header.header4 {
  @media (min-width: 1200px) and (max-width: 1599px) {
    .sf-menu > li {
      > a {
        font-size: 16px;
        margin: 0 16px;
      }
      &:last-child a {
          margin-right: 0;
      }
    }
  }
  @media (min-width: 1600px) {
    .sf-menu > li {
      > a {
        margin: 0 16px;
      }
      &:last-child a {
        margin-right: 0;
      }
    }
  }
}