/*
** WordPress Page Links and Pagination
*/
.page-item,
.nav-links,
.page-links {
  clear: both;
  & > span,
  & > a.page-link {
    border: 1px solid $borderColor;
    color: $fontColor;
    display: inline-block;
    margin-right: 5px;
    margin-left: 0;
    padding: 4px;
    min-width: 40px;
    text-align: center;
    line-height: inherit;
    font-weight: 400;
    border-radius: 50px !important;
    &:hover {
      border-color: $colorMain2;
      color: $darkgreyColor;
      background-color: transparent;
    }
    &.dots {
      cursor: not-allowed;
      background-color: transparent;
      color: $fontColor;
      position: relative;
      top: -3px;
      left: 2px;
      letter-spacing: 2px;
      border-color: transparent;
      font-size: 24px;
    }
  }
  &.active > a.page-link,
  & > span {
    border-color: $colorMain2;
    background-color: transparent;
    color: $darkgreyColor;
  }
  .fa {
    font-size: 14px;
  }
}

//page and comments links smaller
.comments-pagination,
.page-links {
  .page-numbers,
  & > span,
  a {
    //min-width: 2em;
  }
}

.page-links a:first-child {
  margin-left: 1em;
}

//blog styles
.pagination {
  margin-top: 60px;
}

//blog post
.post-nav {
  margin-top: 50px;
  position: relative;
  @media (min-width: 992px) {
    margin-top: 100px;
  }
  .nav-links {
    display: flex;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    & > div {
      width: 50%;
      height: auto;
      position: relative;
      padding: 38px 40px 41px;
      text-align: right;
      transition: 0.2s opacity ease;
      @media (min-width: 1200px) {
        margin-right: 5px;
      }
      &.s-overlay:before {
        opacity: 0.9;
      }
      &.nav-next {
        margin-top: 10px;
        margin-right: 0;
        @media (min-width: 768px) {
          margin-left: 5px;
          margin-top: 0;
        }
      }
      &:hover {
        opacity: 0.9;
        h6 {
          color: $colorMain;
        }
      }
      @media(max-width: 575px) {
        width: 100%;
      }
      .fa {
        font-size: 14px;
        position: relative;
        top: -1px;
        margin-left: 3px;
        margin-right: 3px;
      }
      &:first-child {
        text-align: left;
        .fa {
          margin-right: 4px;
        }
      }
    }
    .nav-subtitle {
      color: $colorMain;
      font-weight: 400;
      text-transform: uppercase;
    }
    .nav-title {
      display: block;
      margin-top: 3px;
    }

    a {
      @include cover();

    }
  }
  //for .cover-image
  .post-nav-image {
    display: none;
  }
  .cover-image {
    .post-nav-text-wrap {
    }
  }
}