/*.widget_post_tabs*/

.widget_post_tabs {

  .vertical-item .item-media+.item-content {
    padding-top: 20px;
  }
  h4:first-child {
    text-transform: none;
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 20px;
  }
  .vertical-item {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .nav-link {
    margin-right: 1px;
    padding: 10px;
    @media (min-width: 1200px) {
      padding: 15px 19px;
    }
  }
}
