/*
widget_search,
widget_mailchimp
widget_product_search
*/

.widget_search,
.widget_product_search,
.widget_mailchimp {
  form {
    position: relative;
    margin: auto;
  }
  label {
    margin: 0;
    padding: 0;
    display: inline;
  }
  input {
    padding-right: 49px;
    height: 40px;
    width: 100%;
    border: 1px solid $borderColor;
    background-color: $lightColor;
    box-shadow: none;

    background-clip: border-box;
  }
}

//buttons and icons inside a form to the right
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"],
.widget_product_search form:before {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  width: 53px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.widget_search button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"],
.widget_product_search form:before {
  width: 60px;
}

.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form input[type="submit"] {
  padding: 5px 10px;
  &:hover {
    opacity: 0.5;
  }
}

//icons for buttons
.widget_search button,
.widget_mailchimp button,
  //input instead of button is used in woo html
.widget_product_search form {
  &:before {
    color: $fontColor;
    font-family: 'FontAwesome';
    font-size: 16px;
    content: "\f002";
  }
}

.widget_mailchimp form button:before {
  content: "\f003";
  font-weight: 100;
}

.widget_product_search {
  form:before {
    line-height: 40px;
  }
  input[type="submit"] {
    color: transparent;
    font-size: 0;
  }
}

.page_footer .widget_mailchimp {
  form {
    .mc4wp-form-fields {
      display: flex;
      justify-content: space-between;
    }
    input {
      border-width: 0 0 1px 0;
      padding-left: 0;
      height: 33px;
      margin-right: 28px;
      padding-right: 0;
    }
    button {
      width: 26px;
      height: 26px;
      background-color: $colorMain;
      border-radius: 50%;
      position: relative;
      padding: 0;
      line-height: 26px;
      flex-shrink: 0;
      &:hover {
        background-color: $lightColor;
        opacity: 1;
        &:before {
          color: $darkgreyColor;
        }
      }
      &:before {
        content: '\e90e';
        font-family: 'icomoon';
        color: $lightColor;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}

.mail-background:after,
.search-background:after {
  content: '';
  background: url(../img/icon-search.png) right top no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.05;
  transition: opacity 0.5s ;
}

.mail-background:hover:after,
.search-background:hover:after {
  opacity: 0.1;
}

.mail-background:after {
  background: url(../img/icon-mail.png) right top no-repeat;
}

.page_footer .widget_mailchimp form {
  .form-control.mailchimp_email {
    background-color: transparent;
    border-color: rgba($lightColor, 0.2);
  }
  .search-submit {
    position: absolute;
  }
}